<h1>Total Inventory</h1>
<table class='table'>
  <tr>
    <th>Product</th>
    <th>Price (each)</th>
    <th>Quantity</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%=product.name%></td>
      <td>$<%= "%.2f" % product.price%></td>
      <td><%=product.quantity%></td>
      <td>$<%= "%.2f" % (product.price * product.quantity) %></td>
      <td><a href="/products/<%= product.id %>" class="btn btn-primary">View</a></td>
      <td><a href="/products/<%= product.id %>/edit" class="btn btn-warning">Edit</a></td>
      <td>
        <form method='POST' action="/products/<%=product.id%>">
          <input type='hidden' name='_method' value='DELETE'>
          <input type='submit' class="btn btn-danger" value='Delete'>
        </form>
      </td>
  <% end %>
</table>
<h4>Total Inventory Value: $<%= "%.2f" % @total %></h4>
<a href='/products/new' class="btn btn-success">Add New Product</a>
